<!DOCTYPE html>
<html>
  <head>
    <title>Parkr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= render partial: 'layouts/header' %>

  <body>
    <%= yield %>
  </body>
</html>
